ul.list-group
  li.list-group-item.listanim.anim148px(
    ng-repeat='ticket in closeTickets',
    ng-cloak)
    div
      a(ng-href='https://twitter.com/intent/user?user_id={{ticket.openUser.providerId}}')
        | {{ticket.openUser.displayName}}
      small(style='margin-left: 0.5em; margin-right: 0.5em;') さんの#{ticket}を
      a(ng-href='https://twitter.com/intent/user?user_id={{ticket.progressUser.providerId}}')
        | {{ticket.progressUser.displayName}}
      small(style='margin-left: 0.5em;') さんが#{heComplete}
    h2.col-xs-12
      a(ng-href='{{ticket.url}}') {{ticket.title}}
      small(style='margin-left: 0.5em;') を#{iCompleted}
    p.text-right
      small {{ticket.createdAt | dateToDisplay}}
    .text-right
      button.btn.btn-danger(
        style='margin-left: 1em;',
        ng-class='{active: isOpenReverse}',
        ng-show='reverseToInprogress.isVisible(ticket)',
        ng-click='isOpenReverse = !isOpenReverse'
        ) 戻す
    .panel.panel-default.anim.anim64px(style='margin-top: 1em;',
      ng-show='isOpenReverse')
      .panel-body
        .text-right
          button.btn.btn-default(ng-click='isOpenReverse = false') 閉じる
          button.btn.btn-primary(style='margin-left: 1em;',
            ng-click='reverseToInprogress.execute(ticket)',
            ng-disabled='!reverseToInprogress.isEnabled()'
            ) #{inprogressTickets}に戻す
