.panel.panel-default.anim.anim188px(ng-show='isOpen', ng-cloak)
  .panel-body
    form(role='form', ng-submit='command.execute(isPost)')
      ul.list-inline
        li
          | {{user.displayName}}
          small(style='margin-left: 0.5em;') さんの#{ticket}
        li.checkbox(style='margin-left: 1em; margin-top: 0;')
          label
            input(type='checkbox', ng-model='isPost', ng-init='isPost = true')
            | 作成時にツイートする
      .form-group
        input.form-control(
          type='text', placeholder='アイディア', maxlength='32', required,
          ng-model='title')
      .form-group.text-right を#{open}
      .text-right
        button.btn.btn-default(type='button', ng-click='close()') 閉じる
        input.btn.btn-primary(style='margin-left: 1em;',
          type='submit', value='作成',
          ng-disabled='!command.isEnabled()')
